$sudoku-primary: #111111;
$sudoku-secondary: #333333;
$sudoku-button-text: #ffffff;
$sudoku-background-color: rgba(38, 38, 38, 0.5);

// Board colors
$sudoku-border: #333333;
$sudoku-inner-border: #111111;
$sudoku-highlighted-cell: #777777;
$sudoku-prefilled-cell: #999999;
